@import "../StartScreen/StartScreenDivStyles.less";

.GameDiv {
    width: 100%;
    height: 100%;

    -webkit-animation: @fadeInAnimation;
    -moz-animation: @fadeInAnimation;
    -o-animation: @fadeInAnimation;
    animation: @fadeInAnimation;
}

.gameCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.GameMenuDiv {
    position: absolute;
}

.menuHints {
    position: absolute;
    bottom: 0%;
    color: rgba(255, 255, 255, 0.288);
}
.menuHints p {
    border-bottom: 2px solid rgba(255, 255, 255, 0.425);
    border-radius: 5px;
}
