@import "../StartScreen/StartScreenDivStyles.less";

.GameDiv {
    width: 100%;
    height: 100%;

    -webkit-animation: @fadeInAnimation;
    -moz-animation: @fadeInAnimation;
    -o-animation: @fadeInAnimation;
    animation: @fadeInAnimation;
}

.gameCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

.GameMenuDiv {
    position: absolute;
}

.menuHint {
    position: absolute;
    bottom: 0%;
    border-bottom: 2px solid white;
    border-radius: 5px;
    color: white;
}
