//@startScreenBackgroundColor: linear-gradient(175deg, rgb(255, 123, 0), 20%, rgb(43, 0, 22));
//@startScreenBackgroundColor: linear-gradient(177deg, rgb(39, 0, 20), 60%, rgb(141, 93, 30), rgb(170, 148, 88));
//@startScreenBackgroundColor: linear-gradient(177deg, rgb(111, 139, 80), rgb(6, 49, 48), rgb(0, 0, 0));
//@startScreenBackgroundColor: linear-gradient(177deg, #4ca1af, #2c3e50);
//@startScreenBackgroundColor: linear-gradient(-3deg, #161c29, #2a3a4b);
//@startScreenBackgroundColor: radial-gradient(at top right, rgb(128, 36, 56) 0%, rgb(29, 14, 58) 60%, rgb(25, 26, 94) 100%);
@startScreenBackgroundColor: radial-gradient(at top right, rgb(110, 36, 128) 0%, rgb(29, 14, 58) 60%, rgb(18, 19, 75) 110%);

html {
    margin: 0px;
    padding: 0px;
    background-image: @startScreenBackgroundColor;
}

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: "Audiowide", cursive;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
